body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: url("../images/giphyTile.jpg");
}

button {
    font-weight: bolder;
}

.choice, .click {
    border: solid 3px skyblue;
    background-color: blue;
    color: white;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    text-transform: uppercase;
}

.choice:hover, .click:hover {
    border: solid 3px black; 
    background-color: darkblue;
}

div.games {
    padding-bottom: 3px;
    background: url("../images/blueTile.png");
}

div.border {
    border: solid 0px black;
    border-bottom-width: 5px; 
    padding-top: 5px;
    padding-bottom: 5px;
    background: url("../images/blueTile.png");    
}

div.center {
    margin: 0 auto;
    margin-bottom: 3px;
    text-align: center;
    margin-top: 0px;
}

div.chain {
    border: solid 3px skyblue;
    display: inline-block;
    margin: 5px;
    margin-top: 0px;
    border: solid 3px blue;
}

div.chain:hover {
    border: solid 3px black;
}

div.frame {
    margin: 0 auto;
    padding: 5px;
    background: url("../images/blueTile.png");    
}

div.main {
    margin: 0 auto;
    padding: 5px;
}

div.wrap {
    padding-top: 10px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bolder;
}

h3.blue {
    background: url("../images/blueTile.png");
}

img {
    max-width: 90vw;
    max-height: 180vw;
}

input {
    top: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    border: solid 1px black;
    padding: 4px;
}

p.chain {
    margin: 0;
    padding: 3px;
    border-bottom: 0;
    background-color: skyblue;
    font-weight: bolder;
    text-transform: uppercase;
}